{% include 'header.html' %}

<!-- Main  -->

<div class="container-fluid main">

    <div class="container-fluid wrapper">

        <h1>180</h1>

    </div>

</div>

<div class="container-fluid">

    <div class="d-grid gap-5">

        <div id="add180_table"></div>

        <div id="toneightys_table"></div>

    </div>

</div>


{% include 'footer.html' %}

<script>

    var customMutatorName = function (value, data, type, params, component) {
        let playerName = data.firstname + " '" + data.nickname + "' " + data.lastname
        return playerName
    }

    var customMutatorDate = function (value, data, type, params, component) {
        let currentDate = new Date(data.date);
        let date = currentDate.getDate();
        let month = currentDate.getMonth();
        let year = currentDate.getFullYear();
        let dateMonthYear = date + "/" + month + "/" + year;
        return dateMonthYear
    }

    var add180_table = new Tabulator("#add180_table", {
        ajaxURL: "/api/get/players", //ajax URL
        ajaxConfig: {
            method: "POST", //set request type to Position
            headers: {
                "Content-type": 'application/json; charset=utf-8', //set specific content type
            },
        },
        layout: "fitColumns",
        resizableColumnFit: true,
        pagination: "local",
        paginationSize: 10,
        paginationSizeSelector: [10],

        columns: [
            { title: "#", field: "id", resizable: true, visible: false },
            { title: "NAAM", field: "firstname", resizable: true, mutator: customMutatorName }
        ]
    });


    var toneightys_table = new Tabulator("#toneightys_table", {
        ajaxURL: "/api/get/trowed180", //ajax URL
        ajaxConfig: {
            method: "POST", //set request type to Position
            headers: {
                "Content-type": 'application/json; charset=utf-8', //set specific content type
            },
        },
        layout: "fitColumns",
        resizableColumnFit: true,
        pagination: "local",
        paginationSize: 10,
        paginationSizeSelector: [10],

        columns: [
            { title: "#", field: "id", resizable: true, visible: false },
            { title: "Voornaam", field: "firstname", resizable: true },
            { title: "Achternaam", field: "lastname", resizable: true },
            { title: "Datum", field: "date", resizable: true, mutator: customMutatorDate },
            {
                title: "Del", field: "date", resizable: true, width: 100,
                formatter: "buttonCross",
                cellClick: function (e, cell) {
                    let rowData = cell.getData()
                    let url = '/api/remove/180';
                    post(url, rowData)
                    cell.getRow().delete();
                }
            }
        ]
    });



    add180_table.on("rowClick", function (e, row) {
        let playerData = row.getData();
        console.log(playerData)
        if (confirm('Wil je een win toevoegen voor ' + playerData['firstname'] + '!')) {
            let url = '/api/add/180';

            post(url, playerData).then(response => {
                console.log(response)
                toneightys_table.setData();
            })

        } else {
            // Do nothing!
        }
    });

</script>