{% include 'header.html' %}

<!-- Main  -->

<div class="container-fluid main">

    <div class="container-fluid wrapper">

        <h1>Maak een toernooi</h1>

    </div>

</div>

<div class="container-fluid">

    <div class="container-lg">



        <form id="createTournament" class="row g-3">

            <div class="col-md-6">
                <label class="form-label">Tournament naam</label>
                <input type="text" class="form-control" id="tournament_name" placeholder="Toernooi naam"
                    value="Dubbel 1">
            </div>

            <div class="col-12">
                <label class="form-label">Aantal borden</label>
                <input type="number" class="form-control" id="number_dartboards" placeholder="Aantal borden" value="1">
            </div>

            <div class="col-12">
                <label class="form-label">Aantal poules</label>
                <input type="number" class="form-control" id="number_pools" placeholder="Aantal pools" value="1">
            </div>

            <div class="col-12">
                <label class="form-label">Selecteer spelers</label>
                <div id="players_table"></div>
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-primary">Maak tournooi</button>
            </div>

        </form>
    </div>



    <div class="d-grid gap-5">




    </div>

</div>


{% include 'footer.html' %}

<script>

    var players_table = new Tabulator("#players_table", {
        ajaxURL: "/api/get/players", //ajax URL
        ajaxConfig: {
            method: "POST", //set request type to Position
            headers: {
                "Content-type": 'application/json; charset=utf-8', //set specific content type
            },
        },
        layout: "fitColumns",
        resizableColumnFit: true,
        pagination: "local",
        paginationSize: 10,
        paginationSizeSelector: [10],
        selectable: true,

        columns: [
            { title: "#", field: "id", resizable: true, visible: false },
            { title: "Voornaam", field: "firstname", resizable: true },
            { title: "Achternaam", field: "lastname", resizable: true }
        ]
    });




    createTournament.onsubmit = (e) => {
        e.preventDefault();

        let tournamentName = document.getElementById("tournament_name").value;
        let numberDartboards = document.getElementById("number_dartboards").value;
        let numberPools = document.getElementById("number_pools").value;

        let selectedPlayers = players_table.getSelectedData();

        const obj = new Object();

        obj.tournament_name = tournamentName
        obj.number_dartboards = numberDartboards
        obj.number_pools = numberPools
        obj.players = selectedPlayers

        let url = "/api/add/tournament"

        post(url, obj)

        location.replace(window.location.href = "/tournament")

    }





</script>