{% include 'header.html' %}

<!-- Main  -->

<div class="container-fluid main">

    <div class="container-fluid wrapper">

        <h1>Finishes</h1>

    </div>

</div>

<div class="container-fluid">

    <div class="d-grid gap-5">

        <div id="addfinish_table"></div>

        <div id="finishes_table"></div>

    </div>

</div>


{% include 'footer.html' %}

<script>

    var customMutatorName = function (value, data, type, params, component) {
        let playerName = data.firstname + " '" + data.nickname + "' " + data.lastname
        return playerName
    }

    var customMutatorDate = function (value, data, type, params, component) {
        let currentDate = new Date(data.date);
        let date = currentDate.getDate();
        let month = currentDate.getMonth();
        let year = currentDate.getFullYear();
        let dateMonthYear = date + "/" + month + "/" + year;
        return dateMonthYear
    }

    var addfinish_table = new Tabulator("#addfinish_table", {
        ajaxURL: "/api/get/players", //ajax URL
        ajaxConfig: {
            method: "POST", //set request type to Position
            headers: {
                "Content-type": 'application/json; charset=utf-8', //set specific content type
            },
        },
        layout: "fitColumns",
        resizableColumnFit: true,
        pagination: "local",
        paginationSize: 10,
        paginationSizeSelector: [10],

        columns: [
            { title: "#", field: "id", resizable: true, visible: false },
            { title: "NAAM", field: "firstname", resizable: true, mutator: customMutatorName }
        ]
    });


    var finishes_table = new Tabulator("#finishes_table", {
        ajaxURL: "/api/get/finishes", //ajax URL
        ajaxConfig: {
            method: "POST", //set request type to Position
            headers: {
                "Content-type": 'application/json; charset=utf-8', //set specific content type
            },
        },
        layout: "fitColumns",
        resizableColumnFit: true,
        pagination: "local",
        paginationSize: 10,
        paginationSizeSelector: [10],

        columns: [
            { title: "#", field: "id", resizable: true, visible: false },
            { title: "Voornaam", field: "firstname", resizable: true },
            { title: "Achternaam", field: "lastname", resizable: true },
            { title: "Uitgooi", field: "score", resizable: true },
            { title: "Cominatie", field: "combi", resizable: true },
            { title: "Datum", field: "date", resizable: true, mutator: customMutatorDate },
            {
                title: "Del", field: "date", resizable: true, width: 100,
                formatter: "buttonCross",
                cellClick: function (e, cell) {
                    let rowData = cell.getData()
                    let url = '/api/remove/finish';
                    post(url, rowData)
                    cell.getRow().delete();
                }
            }
        ]
    });



    addfinish_table.on("rowClick", function (e, row) {
        let playerData = row.getData();

        var trowed = prompt("Vul gegooid score in:", "")
        var combination = prompt("Vul combinatie in:", "")
        if (trowed != null && trowed != "") {
            if (combination != null && combination != "") {

                let url = '/api/add/finish';
                let data = {
                    playerID: row.getData().id,
                    trowed: trowed,
                    combination: combination
                }

                post(url, data).then(response => {
                    console.log(response)
                    finishes_table.setData();
                })
            }
        }
    });

</script>