{% include 'header.html' %}

        <div id="container-fluid">

            <h1>
                LOG
            </h1>

            <div class="container text-center">
                <div class="row row-cols-auto">
                  <div class="col">
                    <div>
                        <label for="log-limit">Log Limit:</label>
                        <select class="form-select" id="log-limit">
                          <option value="100">10</option>
                          <option value="100">100</option>
                          <option value="500">500</option>
                          <option value="1000">1000</option>
                          <option value="5000">5000</option>
                        </select>
                      </div>
                  </div>
                  <div class="col">
                    <button type="button" class="btn btn-primary" id="pause-button">Pause</button>
                  </div>
                </div>
              </div>




            <div id="log-container"></div>

        </div>

{% include 'footer.html' %}


<script>
    let isPaused = false; // Global variable to track pause state
    let logLimit = parseInt(document.getElementById('log-limit').value);
    console.log(logLimit)

    async function fetchLogData() {
    if (!isPaused) { // Only fetch logs if not paused
        const response = await fetch('/api/log');
        if (response.ok) {
        const data = await response.json();
        console.log(data)
        const logs = Object.values(data).slice(-logLimit);
        console.log(logs)
        const logLines = logs.map(items => {
            return `<li>${items.join('</li><li>')}</li>`;
        });
        document.getElementById('log-container').innerHTML = logLines.join('');
        } else {
        console.error(`Failed to fetch log data: ${response.status}`);
        }
    }
    }

    setInterval(fetchLogData, 5000); // Refresh logs every 5 seconds
    fetchLogData(logLimit); // Load logs on page load

    const pauseButton = document.getElementById('pause-button');
    pauseButton.addEventListener('click', () => {
    isPaused = !isPaused;
    pauseButton.textContent = isPaused ? 'Resume' : 'Pause';
    });

    const logLimitDropdown = document.getElementById('log-limit');
    logLimitDropdown.addEventListener('change', () => {
    logLimit = parseInt(logLimitDropdown.value);
    fetchLogData();
  });

</script>

