{% include 'header.html' %}

<!-- Main  -->

<div class="container-fluid main">

    <div class="container-fluid wrapper">

        <h1>Rules</h1>

    </div>

</div>


<div class="container-fluid wrapper">

    <table>

        <h1>Dubbel 1</h1>

        <tr>
            <th>#</th>
            <th>Omschrijving</th>
        </tr>

        <tr>
            <td>01</td>
            <td>De schrijver heeft altijd gelijk. Heb respect voor de scheidsrechter, het is geen voetbal.</td>
        </tr>

        <tr>
            <td>02</td>
            <td>Bij de halve finales bepaald de tijd het aantal te gooien legs. Is het tijdens aanvang van de halve
                finales
                nog geen 23:00 uur, dan spelen we beste van 5 legs. Is het na 23:00 uur, dan spelen we beste van 3 legs.
            </td>
        </tr>

        <tr>
            <td>03</td>
            <td>Het schema is leidend. Zo wordt bepaald wie er als eerste op de bullseye mag mikken en wie er schrijft.
            </td>
        </tr>

        <tr>
            <td>04</td>
            <td>Frikandel speciaal verplicht.</td>
        </tr>

        <tr>
            <td>05</td>
            <td>Iedereen de mee doet moet schrijven! Verdeel het eerlijk.</td>
        </tr>

    </table>


    <table>

        <h1>Officieel</h1>

        <tr>
            <th>#</th>
            <th>Omschrijving</th>
        </tr>

        <tr>
            <td>01</td>
            <td>Om te bepalen wie er mag beginnen, mogen beide spelers met één dartpijl mikken op de bullseye. De eerste
                pijl laat je in het dartbord staan, tenzij de pijl in de bull of bullseye zit. De andere speler moet
                namelijk vrij naar de bullseye kunnen gooien. Als de dartpijl terugkaatst of uit het bord valt, dan mag
                de
                pijl opnieuw worden gegooid.</td>
        </tr>

        <tr>
            <td>02</td>
            <td>Wat als een dartpijl valt? Gooi je een dartpijl, maar kaatst hij terug? Dan mag de dartpijl niet opnieuw
                worden gegooid, hoeveel pech er ook bij kwam kijken. De dart levert dan dus nul punten op. Laat je een
                dartpijl uit je vingers glippen, zonder dat je daarmee een werpbeweging naar het bord maakte? Dan mag je
                deze dart wél oprapen en naar het dartbord gooien. De dartpijlen moeten in het dartbord blijven steken
                totdat de totale score is berekend. Gooi je de tweede pijl bijvoorbeeld in de triple 20, maar valt hij
                tijdens het gooien van de derde pijl op de grond, dan krijg je geen punten voor deze pijl. Ook
                dartpijlen
                die achterop een andere pijl worden gegooid (een Robin Hood) tellen niet mee bij de score.</td>
        </tr>

        <tr>
            <td>03</td>
            <td>Elke speler mag als warming-up hooguit 9 pijlen werpen.</td>
        </tr>

        <tr>
            <td>04</td>
            <td>Dartpijlen die je na het uitgooien werpt, tellen niet mee voor de score.</td>
        </tr>

    </table>
</div>

</div>


{% include 'footer.html' %}