{% include 'header.html' %}

<!-- Main  -->
<main id="main">

<section>
    <div class="container-xxl">
        <h1 class="fs-1 text-center text-bold">Toernooi</h1>
        <h5 class="text-center text-regular">Maak hier een toernooi!</h5>
    </div>
</section>




<section> 
    <div class="container-xxl">
        <div class="col-md-8">
            <label for="input" class="form-label">Toernooi naam:</label>
            <input type="email" class="form-control" id="tournament_name" placeholder="Dubbel 1">
        </div>

        <div class="row">
            <div class="col-md-4">
                <label for="input" class="form-label">Aantal poules:</label>
                <input type="number" class="form-control" id="number_of_pouls" placeholder="1">
            </div>
            
            <div class="col-md-4">
                <label for="input" class="form-label">Aantal borden per poule:</label>
                <input type="number" class="form-control" id="number_of_dartboards" placeholder="1">
            </div>
        </div>
        
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="teamSwitch">
            <label class="form-check-label" for="teamSwitch">Enable/Disable Team</label>
        </div>


        <div id="players_table"></div>
        <button type="submit" class="btn btn-primary">Maak tournooi</button>

    </div>
</section>





</main>

{% include 'footer.html' %}

<script>

var players_table = new Tabulator("#players_table", {
        ajaxURL: "/api/get/players", //ajax URL
        ajaxConfig: {
            method: "POST", //set request type to Position
            headers: {
                "Content-type": 'application/json; charset=utf-8', //set specific content type
            },
        },
        layout: "fitColumns",
        resizableColumnFit: true,
        pagination: "local",
        paginationSize: 20,
        paginationSizeSelector: [20],
        selectable: true,

        columns: [
                { title: "#", field: "id", resizable: true, visible: false },
                { title: "VOORNAAM", field: "firstname", resizable: true },
                { title: "ACHTERNAAM", field: "lastname", resizable: true },
                { title: "BIJNAAM", field: "nickname", resizable: true }
        ]
    });


// Add event listener to button
document.querySelector('button.btn.btn-primary').addEventListener('click', function() {
    let tournamentName = document.getElementById("tournament_name").value;
    let numberOfDartboards = document.getElementById("number_of_dartboards").value;
    let numberOfPoules = document.getElementById("number_of_pouls").value;
    let teams = document.getElementById("teamSwitch").checked;
    let selectedPlayers = players_table.getSelectedData();

    console.log('Tournament name: ', tournamentName, 'Number dartboards: ', numberOfDartboards, 'Number pouls: ', numberOfPoules, 'Teams: ', teams, 'Selected players: ', selectedPlayers);

    let loadingMessage = document.createElement('p');
    loadingMessage.textContent = 'Loading...';
    document.body.appendChild(loadingMessage);

    // Disable the button
    this.disabled = true;

    let data = new Object()
    data.tournament_name = tournamentName;
    data.number_of_boards = numberOfDartboards;
    data.number_of_poules = numberOfPoules;
    data.teams = teams;
    data.selectedPlayers = selectedPlayers;

    post('/api/tournament/create', data).then(response => {
        console.log(response);
        // Remove loading message or symbol
        loadingMessage.remove();

        // Enable the button
        this.disabled = false;
    });











});




</script>
