{% include 'header.html' %}

<!-- Main  -->
<main id="main">

<section>
    <div class="container-xxl">
        <h1 class="fs-1 text-center text-bold">Playoffs</h1>
        <h5 class="text-center text-regular">Playoff settings </h5>
    </div>
</section>


<section> 
    <div class="container-xxl">
        <div class="row">
            <div class="col-md-4">
                <label for="input" class="form-label">Aantal rondes:</label>
                <input type="number" class="form-control" id="number_of_rounds" placeholder="1">
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Maak Playoffs</button>
            </div>
        </div>
    </div>
</section>





</main>

{% include 'footer.html' %}

<script>
document.querySelector('button.btn.btn-primary').addEventListener('click', function() {
    let numberOfRounds = document.getElementById('number_of_rounds').value;
    let data = new Object()
    data.number_of_rounds = numberOfRounds;

    post('/api/playoffs/create', data).then(response => {
        console.log(response);
    });



});
</script>
