[Unit]
Description=Darts-Scoreboard Daemon
Wants=network-online.target
After=network-online.target

[Service]
User=Darts
Group=Darts

Type=simple
ExecStart=/usr/bin/python3 /opt/darts/dartsscoreboard.py
Restart=on-abort

[Install]
WantedBy=multi-user.target